.navbar{
    background-color: #D98218 !important;
    
}


.card{
    border: none !important;
}

.footer{
 
    margin-top: 5% !important;
    background-color: #D98218 !important;
}

